@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: android; 
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
   --cor0:#474B70;
   --cor01:#5060F2;
   --cor02:#97A0F0;
   --cor03:#252D70;
   --cor04:#44988d;
   --cor05:#1B5370;

   --fonte-padrao: Arial, verdana, Helvetica, sans-serif;
   --fonte-destaque: 'Bebas Neue', cursive;
   --fonte-android: 'android', cursive;
}

aside{
    background-color: #4fc9a6;
    padding: 10px;
    border-radius: 10px;
}

div.video{
    background-color: #2d6059;
    margin-bottom: 27px;
    margin: 0px -10px ;
    padding: 16px;
    padding-bottom: 43%;
    position: relative;
}

div.video > iframe{
  position:absolute;   
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
 aside > h3{
    background-color: #0c352f;
    color: white;
    padding: 4px;
    margin: -10px -10px 0px -10px;
    box-shadow: 3px 3px 7px black;
 }
aside > ul{
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}
*{
    margin: 0px;
    padding: 1px;
}

 main  p {
    margin: 15px 0px;
    font-size: 1.1em;
    text-align: justify;
}

body{
    background-color:#44988d
}

main strong{
    color: #0c352f;
    font-weight: bold;
    background-color: #3a9a92;
    padding: 2px 5px;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: #0c352f;
    background-color: rgb(173, 116, 214);
    padding: 2px 2px;
}

main a:hover{
    text-decoration: underline;
    color: #97d2f0;
}
header{
   background-image: linear-gradient(to bottom, var(--cor04), var(--cor01));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
   
    color: white;
    font-size: 3em;
    margin-left: 20px;
    text-shadow: 2px 2px 0px rgb(46, 46, 46);
}

header > p{
    color: white;
    font-size: 1.2em;
    width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgb(46, 46, 46);
}

nav{
    background-color: #44988d;
    padding: 10px;
    box-shadow: 0px 7px 9px black;
}

main{
    min-width: 300px;
    min-width: 1000px;
    padding: 39px;
    margin-bottom: 60px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(40, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: #5060F2;
} 

main h2{
    font-family: cursive;
    color: rgb(38, 154, 38);
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor03), transparent);
    text-indent: 7px;
} 
main  p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
}

main img{
    width: 100%;
}

main img.pequena{
 max-width: 350px;
 display: block;
 margin: auto;
}

nav > a{
    color: white;
    padding: 10;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover{
    background-color: #2d6059;
    color: #32d5a7;
    transition-duration: 1s;
}

footer{
    background-color: rgb(28, 63, 63);
    color: white;
    text-align: center;
    font-size: 0.7em;
    padding: 4px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #2d6059;
}